.home-container {
  display: flex;
}

.cart {
  margin: 10px;
  padding: 10px;
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid gray;
  border-radius: 10px;
}

.image img {
  /* width: 150px; */
  height: 200px;
  object-fit: cover;
}

.name {
  margin-top: 5px;
  height: 40px;
  text-align: center;
  font-weight: bold;
}

.price {
  font-weight: 600;
}

.btn {
  cursor: pointer;
  background-color: rgb(18, 18, 171);
  color: white;
}

.btn:hover {
  cursor: pointer;
  background-color: rgb(16, 16, 121);
  color: white;
}
